.home{
    width: 100%;
    height: 100vh;
    background: #fff;

    .home__categoryContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin-left: 80px;

        img{
            width: 650px;
            height: 332px;
        }

        div {
            width: 650px;
            height: 332px;
            position: relative;
        }

        .overlay{
            position: absolute;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            background-color: #000;
            text-align: center;

            span{
                z-index: 10;
                font-size: 100px;
                color: #fff;
            }
        }

        .home__categoryContainer--imgCont0, .home__categoryContainer--imgCont1{
            margin-top: 50px;
        }
    }
}