.home{
    width: 100%;
    height: 100vh;
    background: #fff;

    .home__categoryContainer{
        display: flex;
        flex-wrap: wrap;


        div {
            width: 650px;
            height: 332px;
            background: #000;
            margin: 50px;
        }

        .home__categoryContainer--imgCont1, .home__categoryContainer--imgCont2{
            margin-top: 50px;
        }

        .home__categoryContainer--imgCont3, .home__categoryContainer--imgCont4{
            margin-top: 10px;
        }
    }
}